In [2]:
import pandas as pd
import numpy as np
import os

In [26]:
votes = pd.read_csv(os.path.join("data", "votes.csv"))

cultural = pd.read_csv(os.path.join("data", "cultural_similarity.csv"), sep=";")

contestants = pd.read_csv(os.path.join("data", "contestants.csv"))

In [33]:
contestants.head()

,year,to_country_id,to_country,performer,song,place_contest,sf_num,running_final,running_sf,place_final,...,place_sf,points_sf,points_tele_final,points_jury_final,points_tele_sf,points_jury_sf,composers,lyricists,lyrics,youtube_url
0,1956,ch,Switzerland,Lys Assia,Refrain,2.0,NaN,2.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Georg Benz Stahl,NaN,"(Refrain d'amour...)\n\nRefrain, couleur du ci...",https://youtube.com/watch?v=IyqIPvOkiRk
1,1956,nl,Netherlands,Jetty Paerl,De Vogels Van Holland,2.0,NaN,1.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Cor Lemaire,Annie M. G. Schmidt,De vogels van Holland zijn zo muzikaal\nZe ler...,https://youtube.com/watch?v=u45UQVGRVPA
2,1956,be,Belgium,Fud Leclerc,Messieurs Les Noyés De La Seine,2.0,NaN,3.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Jacques Say;Jean Miret,Robert Montal,Messieurs les noyés de la Seine\nOuvrez-moi le...,https://youtube.com/watch?v=U9O3sqlyra0
3,1956,de,Germany,Walter Andreas Schwarz,Im Wartesaal Zum Großen Glück,2.0,NaN,4.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Walter Andreas Schwarz,NaN,"Es gibt einen Hafen, da fährt kaum ein Schiff\...",https://youtube.com/watch?v=BDNARIDnmTc
4,1956,fr,France,Mathé Altéry,Le Temps Perdu,2.0,NaN,5.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,André Lodge,Rachèle Thoreau,"Chante, carillon\nLe chant du temps perdu\nCha...",https://youtube.com/watch?v=dm1L0XyikKI

In [64]:
# create a dictionary with country keys as keys and full country names as values
countries = contestants["to_country"].unique()

country_dict = {}

# empty pandas dataframe
df = pd.DataFrame(columns=["short_name", "country"])

for country in countries:
    # find the short name of the country
    short_name = contestants[contestants["to_country"] == country]

    short_name_unique = short_name["to_country_id"].unique()

    # choose the shortest name
    short_name = min(short_name_unique, key=len)

    # add to dictionary
    country_dict[short_name] = country

    # add to dataframe

    # new dat
    tmp_dat = pd.DataFrame({"short_name": [short_name], "country": [country]})
    df = pd.concat([df, tmp_dat])


# save pandas dataframe as csv
df.to_csv(os.path.join("data", "shortname_mapping.csv"))

{'ch': 'Switzerland',
 'nl': 'Netherlands',
 'be': 'Belgium',
 'de': 'Germany',
 'fr': 'France',
 'lu': 'Luxembourg',
 'it': 'Italy',
 'dk': 'Denmark',
 'gb': 'United Kingdom',
 'at': 'Austria',
 'se': 'Sweden',
 'mc': 'Monaco',
 'no': 'Norway',
 'yu': 'Yugoslavia',
 'es': 'Spain',
 'fi': 'Finland',
 'pt': 'Portugal',
 'ie': 'Ireland',
 'mt': 'Malta',
 'il': 'Israel',
 'gr': 'Greece',
 'tr': 'Turkey',
 'ma': 'Morocco',
 'cy': 'Cyprus',
 'is': 'Iceland',
 'hr': 'Croatia',
 'ba': 'Bosnia & Herzegovina',
 'si': 'Slovenia',
 'pl': 'Poland',
 'hu': 'Hungary',
 'ru': 'Russia',
 'sk': 'Slovakia',
 'ro': 'Romania',
 'ee': 'Estonia',
 'lt': 'Lithuania',
 'mk': 'North Macedonia',
 'lv': 'Latvia',
 'ua': 'Ukraine',
 'cs': 'Serbia & Montenegro',
 'al': 'Albania',
 'Andorra': 'Andorra',
 'by': 'Belarus',
 'md': 'Moldova',
 'bg': 'Bulgaria',
 'am': 'Armenia',
 'rs': 'Serbia',
 'ge': 'Georgia',
 'me': 'Montenegro',
 'cz': 'Czech Republic',
 'az': 'Azerbaijan',
 'sm': 'San Marino',
 'au': 'Australia'}

In [25]:
cultural.head()

     country1    country2  index
0          UK     Ireland  0,914
1  Luxembourg       Spain  0,906
2     Germany  Luxembourg  0,882
3       Italy      Turkey  0,873
4     Belgium  Luxembourg   0,87

In [ ]:
# create a dictionary with country keys as keys and full country names as values
country_dict = {'ad'
                , 'al', 'am', 'at', 'au', 'az', 'ba', 'be', 'bg', 'by', 'ch',
       'cs', 'cy', 'cz', 'de', 'dk', 'ee', 'es', 'fi', 'fr', 'gb', 'ge',
       'gr', 'hr', 'hu', 'ie', 'il', 'is', 'it', 'lt', 'lu', 'lv', 'ma',
       'mc', 'md', 'me', 'mk', 'mt', 'nl', 'no', 'pl', 'pt', 'ro', 'rs',
       'ru', 'se', 'si', 'sk', 'sm', 'tr', 'ua', 'yu'}

In [16]:
np.unique(votes["to_country_id"])

array(['ad', 'al', 'am', 'at', 'au', 'az', 'ba', 'be', 'bg', 'by', 'ch',
       'cs', 'cy', 'cz', 'de', 'dk', 'ee', 'es', 'fi', 'fr', 'gb', 'ge',
       'gr', 'hr', 'hu', 'ie', 'il', 'is', 'it', 'lt', 'lu', 'lv', 'ma',
       'mc', 'md', 'me', 'mk', 'mt', 'nl', 'no', 'pl', 'pt', 'ro', 'rs',
       'ru', 'se', 'si', 'sk', 'sm', 'tr', 'ua', 'yu'], dtype=object)

In [12]:
def points_neighbours(input_country, list_of_neighbours, data):   
    """
    """
    # get the points given to the input country
    points_received = data[data["to_country_id"] == input_country]

    # get the points given by the neighbours
    points = points_received[points_received["from_country_id"].isin(list_of_neighbours)]

    # get sum 
    points_sum = points["total_points"].sum()

    return points_sum

In [19]:
points_dk = points_neighbours("dk", ["se", "is", "no"], votes)

In [21]:
# list of contestants
contestants = np.unique(votes["from_country_id"])

# list of neighbours for each co

In [20]:
points_dk

862